:root {
    /* the color of the background of the loading sign*/
    --loading-bg-color: #ffffff;

    /* the color of the border around selected part and icon buttons */
    --select-color: #660073;

    /* the color/image filepath of the background of the image display area */
    --image-background-color: hsla(0, 0%, 93.3%, 0.5);

    /* the color/image filepath of the random button */
    --random-button-color: #ffbd15;
    --random-button-png: "none";

    /* the color filepath of the parts menu background*/
    --parts-menu-color: #eeeeee;

    /* the color/image filepath of the items menu background*/
    --control-panel-color: #cccccc;
    --control-panel-png: "none";

    /* the color of the item buttons */
    --item-button-color: #ffffff;

    /* the color/image filepath of the item menu toggle button */
    --item-toggle-color: #ffffff;
    --item-toggle-img: url("assets/icons/ui/icon-grid.png");

    /* the color/image filepath of the palette toggle button */
    --palette-toggle-color: #ffffff;
    --palette-toggle-img: url("assets/icons/ui/icon-colors.png");

    /* the color/image filepath of the info button */
    --move-toggle-color: #ffffff;
    --move-toggle-img: url("assets/icons/ui/icon-move.png");

    /* the color/image filepath of the zoom in button */
    --zoom-in-color: #00000000;
    --zoom-in-img: url("assets/icons/ui/zoom-in.png");

    /* the color/image filepath of the zoom out button */
    --zoom-out-color: #00000000;
    --zoom-out-img: url("assets/icons/ui/zoom-out.png");

    /* the color/image filepath of the zoom reset button */
    --zoom-reset-color: #00000000;
    --zoom-reset-img: url("assets/icons/ui/zoom-reset.png");

    /* save button vars */
    --save-button-color: #006400;

    /* random purple color */
    --random-purple-color: #660073;

    /* control sizes */
    --ui-control-size: 50px;
    --part-control-size: 60px;
}

* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

@supports (max-height: 100dvh) {
    body {
        height:100dvh;
    }
}

ul li img {
    width: 100%;
    height: 100%;
}

.app_wrapper {
    display: block;
    align-self: flex-start;

    position: relative;
    margin: 0 auto;

    height: 100%;
    max-height: 1500px;
    max-width: calc(100% - 20px);

    border: 3px solid black;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    position: relative;
    height: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--image-background-color, hsla(0, 0%, 93.3%, 0.5));
    background-position: center;
    background-repeat: no-repeat;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    max-height: 1000px;
    height: 100%;
}

.canvas_wrapper canvas {
    background: repeating-conic-gradient(#e0e0e0 0% 25%, transparent 0% 50%) 50% / 100px 100px;

    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: scale-down;
}

.loading {
    position: absolute;
    font-size: 3vh;
    font-weight: bold;
    background-color: var(--loading-bg-color, #ffffff);
    opacity: 0.75;
    padding: 15px;

    border-radius: 5px;
    border: 3px solid var(--random-purple-color, purple);
}

.control_wrapper {
    position: absolute;

    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;

    width: var(--ui-control-size, 50px);
    z-index: 0;

    display: flex;
    flex-direction: column;
}

.part_control_wrapper,
.zoom_control_wrapper {
    display: flex;
    flex-direction: column;

    margin: 5px 0;
}

.part_control_wrapper .controls,
.zoom_control_wrapper .controls {
    width: var(--ui-control-size, 50px);
    height: var(--ui-control-size, 50px);

    margin: 2.5px 0;

    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    text-align: center;
}

.control_wrapper > div:first-child,
.part_control_wrapper .controls:first-child,
.zoom_control_wrapper .controls:first-child {
    margin-top: 0;
}

.control_wrapper > div:last-child,
.part_control_wrapper .controls:last-child,
.zoom_control_wrapper .controls:last-child {
    margin-bottom: 0;
}

.part_control_wrapper .items {
    background-color: var(--item-toggle-color, #ffffff);
    background-image: var(--item-toggle-img, "none");
}

.part_control_wrapper .palette {
    background-color: var(--palette-toggle-color, #ffffff);
    background-image: var(--palette-toggle-img, "none");
}

.part_control_wrapper .moves {
    background-color: var(--move-toggle-color, #ffffff);
    background-image: var(--move-toggle-img, "none");
}

.zoom_control_wrapper .zoom_in {
    background-color: var(--zoom-in-color, #ffffff);
    background-image: var(--zoom-in-img, "none");
}

.zoom_control_wrapper .zoom_out {
    background-color: var(--zoom-out-color, #ffffff);
    background-image: var(--zoom-out-img, "none");
}

.zoom_control_wrapper .zoom_reset {
    background-color: var(--zoom-reset-color, #ffffff);
    background-image: var(--zoom-reset-img, "none");
}

@media (hover: none) {
    .zoom_control_wrapper {
        display: none;
    }
}

.item_selection_wrapper {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;

    height: 100%;
    min-width: 275px;
    max-width: 375px;
}

.item_selection_wrapper li {
    border: 3px solid transparent;
    border-radius: 3px;
}

.item_selection_wrapper li.selected {
    border-color: var(--select-color, #ff0000);
}

.parts_menu_wrapper {
    position: relative;

    background-color: var(--parts-menu-color, #eeeeee);
}

.parts_menu {
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--random-purple-color, purple) lightgrey;
    -webkit-overflow-scrolling: touch;

    height: calc(var(--part-control-size, 60px) * 1.15);
    margin: 0;
    white-space: nowrap;
}

.parts_menu ul {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    list-style: "none";
}

.parts_menu ul li {
    width: var(--part-control-size, 60px);
    height: var(--part-control-size, 60px);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.outfit_wrapper,
.component_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
}

.control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.control_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #cccccc);
    background-image: var(--control-panel-png, "none");
    background-repeat: no-repeat;
}

.item_list_wrapper {
    height: 100%;
    min-height: 100px;
    width: 100%;

    flex: 1 1 auto;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: thin;
    scrollbar-color: var(--random-purple-color, purple) lightgrey;
}

.item_list_wrapper ul {
    width: calc(100% - 10px);
    padding: 0;
    margin: 5px;
}

.item_list_wrapper ul li {
    width: calc(100% / 3 - 6px);

    background-color: var(--item-button-color, #ffffff);

    list-style-type: none;

    margin: 3px;
    padding: 0;

    vertical-align: middle;

    cursor: pointer;
}

.item_list_wrapper ul li.outfit {
    display: inline-flex;
}

.color_palette_wrapper {
    display: none;
    /*display: flex;*/
    flex: 1;

    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 4px 0;
    -webkit-overflow-scrolling: touch;
}

.color_palette_wrapper ul {
    padding: 0;
    font-size: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.color_palette_wrapper ul li {
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #eee;
    box-sizing: border-box;
    list-style-type: none !important;
    cursor: pointer;

    width: 48px;
    height: 48px;
}

.color_palette_wrapper ul > * {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 16px;
}

.feature_buttons,
.feature_buttons > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature_buttons {
    margin: 5px 0;
    flex-wrap: wrap;
}

.feature_buttons a {
    cursor: pointer;

    text-decoration: none;

    border: 1px solid black;
    border-radius: 3px;

    padding: 4px 8px;
    margin: 5px 2px;

    background-color: var(--random-purple-color, purple);
	color: #ffffff;
}

.feature_buttons a:hover {
	filter: brightness(1.2);
}

#save_button {
	background-color: var(--save-button-color, green);
}

.info_modal {
    display: none;

    position: fixed;

    left: 0;
    top: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
    overflow: auto;

    padding-top: 50px;
    padding-bottom: 50px;

    background-color: rgba(0, 0, 0, 0.4);
}

.info_modal .modal-content {
    position: relative;

    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 0;

    background-color: #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    -webkit-animation-name: animateFromTop;
    -webkit-animation-duration: 0.4s;
    animation-name: animateFromTop;
    animation-duration: 0.4s;
}

.info_modal .modal-header {
    display: flex;
    align-items: center;

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    padding: 2px 16px;
    background-color: var(--random-purple-color, purple);
    color: white;
}

.info_modal .modal-header h2 {
    flex-grow: 1;
}

.info_modal .modal-header .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.info_modal .modal-header .close:hover,
.info_modal .modal-header .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info_modal .modal-body {
    padding: 2px 16px;
    font-size: 110%;
}

.info_modal img {
    max-width: 100%;
    height: auto;
}

.info_modal .modal-image {
    border-radius: 5px;
}

.info_modal .cook-wrapper {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: stretch;

    margin-bottom: 1.5rem;
}

@media (max-width: 500px) {

    .info_modal .cook-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Portrait layout changes */
@media (orientation: portrait) {
    .loading {
        font-size: 3vh;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .canvas_wrapper {
        max-height: 50vh;
    }

    .control_wrapper {
        bottom: 5px;
        right: 5px;
        top: auto;
        left: auto;

        width: calc(var(--ui-control-size, 50px) * 0.75);
    }

    .part_control_wrapper .controls,
    .zoom_control_wrapper .controls {
        width: calc(var(--ui-control-size, 50px) * 0.75);
        height: calc(var(--ui-control-size, 50px) * 0.75);
    }

    .item_selection_wrapper {
        width: 100%;
        max-width: 100%;
    }

    .item_list_wrapper ul li {
        width: calc(100% / 5 - 6px);
    }

    .parts_menu_wrapper {
        min-height: 10vh;
    }

    .parts_menu {
        height: 100%;
    }

    .parts_menu ul {
        width: auto;
        height: 100%;
    }

    .parts_menu ul li {
        width: 9vh;
        height: 9vh;
    }

    .color_palette_wrapper ul li {
        width: 8vh;
        height: 8vh;
    }
}

/* Animations */
@-webkit-keyframes animateFromTop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animateFromTop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
