:root {
    /* the color of the background of the loading sign*/
    --loading-bg-color: #ffffff;

    /* the color of the border around selected part and icon buttons */
    --select-color: #ff0000;

    /* the color/image filepath of the background of the image display area */
    --image-background-color: hsla(0, 0%, 93.3%, 0.5);
    --image-background-png: "none";

    /* the color/image filepath of the random button */
    --random-button-color: #ffbd15;
    --random-button-png: "none";

    /* the color filepath of the parts menu background*/
    --parts-menu-color: #eeeeee;

    /* the color/image filepath of the items menu background*/
    --control-panel-color: #cccccc;
    --control-panel-png: "none";

    /* the color of the item buttons */
    --item-button-color: #ffffff;

    /* the color/image filepath of the item menu toggle button */
    --item-toggle-color: #ffffff;
    --item-toggle-img: url("assets/ui_icons/icon-grid.png");

    /* the color/image filepath of the palette toggle button */
    --palette-toggle-color: #ffffff;
    --palette-toggle-img: url("assets/ui_icons/icon-colors.png");

    /* the color/image filepath of the info button */
    --info-toggle-color: #ffffff;
    --info-toggle-png: "none";

    /* the color/image filepath of the info button */
    --move-toggle-color: #ffffff;
    --move-toggle-img: url("assets/ui_icons/move_toggle.svg");

    /* the image filepath of the logo */
    --logo-png: "none";
    --save-button-color: #00b33c;
}

* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

ul li img {
    width: 100%;
    height: 100%;
}

.app_wrapper {
    display: block;

    position: relative;
    margin: 0 auto;

    height: 100vh;
    max-width: calc(100vw - 20px);

    border: 3px solid black;
}

.container {
    position: relative;
    height: 100%;

    display: inline-flex;
    flex-direction: row;

    background-color: var(--image-background-color, hsla(0, 0%, 93.3%, 0.5));
    background-image: var(--image-background-png, none);
    background-position: center;
    background-repeat: no-repeat;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    max-height: 1000px;
    height: 100%;

    canvas {
        background: repeating-conic-gradient(#e0e0e0 0% 25%, transparent 0% 50%) 50% / 100px 100px;

        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: 100%;
        object-fit: scale-down;
    }
}

.save_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 4px 8px;
    background: var(--save-button-color, #555555);
    border-radius: 4px;
    text-align: center;
    word-break: break-all;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: auto;
    bottom: 4px;
    left: 4px;
    background-image: var(--download-button-png, "none");
    background-position: center;
    background-repeat: no-repeat;
}

.loading {
    position: absolute;
    font-size: 3vh;
    font-weight: bold;
    background-color: var(--loading-bg-color, #ffffff);
    opacity: 0.75;
    padding: 15px;

    border-radius: 5px;
    border: 3px solid purple;
}

.part_control_wrapper {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: auto;
    left: auto;

    width: 50px;
    height: 50px;
    z-index: 0;

    .items {
        width: 50px;
        height: 50px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        background-color: var(--item-toggle-color, #fff);
        background-image: var(--item-toggle-img, "none");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        border: 0 solid #aaa;
        cursor: pointer;
        text-align: center;
        position: absolute;
    }

    .palette {
        width: 50px;
        height: 50px;

        left: -55px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        background-color: var(--palette-toggle-color, #fff);
        background-image: var(--palette-toggle-img, "none");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        border: 0 solid #aaa;
        cursor: pointer;
        text-align: center;
        position: absolute;
    }

    .moves {
        /* TODO: implement movable parts*/
        display: none;
        /* display: inline-flex; */
        width: 50px;
        height: 50px;

        left: -110px;

        justify-content: center;
        align-items: center;

        background-color: var(--move-toggle-color, #fff);
        background-image: var(--move-toggle-img, "none");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        color: #333;
        border: 0 solid #aaa;
        cursor: pointer;
        text-align: center;
        position: absolute;
    }
}

.item_selection_wrapper {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;

    height: 100%;
    min-width: 275px;
    max-width: 375px;
}

.parts_menu_wrapper {
    position: relative;

    background-color: var(--parts-menu-color, #eee);
}

.parts_menu {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;

    height: 68px;
    margin: 0;
    white-space: nowrap;

    ul {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        list-style: "none";

        li {
            width: 60px;
            height: auto;

            display: inline-flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }
    }
}

.control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.control_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #ccc);
    background-image: var(--control-panel-png, "none");
    background-repeat: no-repeat;
}

.item_selection_wrapper {
    .selected {
        border: 3px solid var(--select-color, #ff0000);
    }

    li:not(.selected),
    li:not(.selected) {
        border: 3px solid transparent;
    }
}

.imagemaker_info_wrapper {
    height: 100%;
    background-color: #eeeeee;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    height: calc(100% - 8px);
    overflow: hidden;
    z-index: 10;
    display: none;
}

.imagemaker_info_content {
    margin: 10px;
}

.item_list_wrapper {
    height: 100%;
    min-height: 100px;
    width: 100%;

    flex: 1 1 auto;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;

    ul {
        width: calc(100% - 10px);
        padding: 0;
        margin: 5px;

        li {
            width: calc(100% / 3 - 6px);

            background-color: var(--item-button-color, #fff);

            list-style-type: none;

            border-radius: 4px;
            margin: 3px;
            padding: 0;

            vertical-align: middle;

            cursor: pointer;
        }
    }
}

.color_palette_wrapper {
    display: none;
    /*display: flex;*/
    flex: 1;

    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 4px 0;
    -webkit-overflow-scrolling: touch;

    ul {
        padding: 0;
        font-size: 0;
        width: 100%;
        margin: auto;
        text-align: center;

        li {
            margin: 1px;
            border-radius: 50%;
            border: 2px solid #eee;
            box-sizing: border-box;
            list-style-type: none !important;
            cursor: pointer;

            width: 48px;
            height: 48px;
        }

        > * {
            display: inline-block;
            margin: 0;
            padding: 0;
            vertical-align: middle;
            font-size: 16px;
        }
    }
}

.feature_buttons {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    div {
        cursor: pointer;

        border: 3px solid black;
        border-radius: 3px;

        padding: 3px 6px;
        margin: 0 2px;
    }
}

.save_button {
    top: 5px;
    height: 36px;
}

.imagemaker_info_content {
    font-size: 3vh;
}

/* Portrait layout changes */
@media (orientation: portrait) {
    .loading {
        font-size: 3vh;
    }

    .container {
        flex-direction: column;
    }

    .canvas_wrapper {
        max-height: 50vh;
    }

    .save_button {
        height: 4vh;
        font-size: 3vh;
    }

    .part_control_wrapper {
        bottom: 4px;
        right: 4px;
        top: auto;
        left: auto;

        width: 6vh;
        height: 6vh;

        .palette {
            width: 6vh;
            height: 6vh;
            line-height: 6vh;
            left: -10vh;
            bottom: 4px;
        }

        .items {
            width: 6vh;
            height: 6vh;
            bottom: 4px;
            right: 4px;
        }
    }

    .item_list_wrapper ul li {
        width: 23.75%;
    }

    .parts_menu_wrapper {
        min-height: 10vh;
    }

    .parts_menu {
        height: 100%;
    }

    .parts_menu ul {
        width: auto;
        height: 100%;
    }

    .parts_menu ul li {
        width: 9vh;
        height: 9vh;
    }

    .color_palette_wrapper ul li {
        width: 8vh;
        height: 8vh;
    }
}
