<picture mat-dialog-title>
    <source srcset="./images/build-a-bettel.webp" type="image/webp">
    <source srcset="./images/build-a-bettel.png" type="image/jpeg">
    <img src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />
</picture>

<mat-dialog-content>
    <p>
        Step right up to the <a href="https://x.com/bttlnfoodtruck" target="_blank">Bettelion Food Truck</a> and order
        your very own <span class="no-break heavy">Build-A-Bettel</span>. Mix and match from hundreds of fan-made assets
        to customize
        your favorite jester in this interactive fanart experience. Use the hashtag <strong
            class="heavy">#BuildABettel</strong> to share your creations!
    </p>

    <div class="credit-button-wrapper">
        <button mat-stroked-button mat-dialog-close="credits">View full credits</button>
    </div>

    <div class="photo-wall">
        <h2>Employee Photos</h2>
        <div class="contributors">
            @if(isWebPEnabled()) {
            <ng-container *ngFor="let contributor of fullList|sortContributorImages">
                <picture *ngIf="contributor.image">
                    <source [srcset]="contributor.image + '.webp'" type="image/webp">
                    <source [srcset]="contributor.image + '.png'" type="image/jpeg">
                    <img [src]="contributor.image + '.png'" [alt]="contributor.name" [title]="contributor.name" />
                </picture>
            </ng-container>
            } @else {
            <ng-container *ngFor="let contributor of fullList|sortContributorImages">
                <img [src]="contributor.image + '.png'" [alt]="contributor.name" [title]="contributor.name"
                    *ngIf="contributor.image" />
            </ng-container>
            }
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="{{types.Intro}}">Disclaimer</button>
    <button mat-button mat-dialog-close="{{types.Credits}}">Full Credits</button>

    <div class="spacer"></div>

    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>