<img mat-dialog-title src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />

<mat-dialog-content>
    <p>
        Step into the creative space of the <a href="https://x.com/bttlnfoodtruck" target="_blank">Bettelion Food Truck
            <i class="bi bi-twitter-x"></i></a> with <span class="no-break heavy">Build-A-Bettel</span>, an interactive
        fanart experience. Here, you have the opportunity to personalize Bettel by choosing from a variety of outfits
        and accessories. Once you've crafted your unique Bettel, feel free to share it with the community using the
        hashtag <strong class="heavy">#BuildABettel</strong>. We'd love to see what you create!
    </p>

    <div class="credit-button-wrapper">
        <button mat-stroked-button mat-dialog-close="credits">View full credits</button>
    </div>

    <div class="photo-wall">
        <h2>Employee Photos</h2>
        <div class="contributors">
            <ng-container *ngFor="let contributor of fullList|sortContributorImages">
                <img src="{{contributor.image}}" alt="{{contributor.name}}" *ngIf="contributor.image" />
            </ng-container>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="{{types.Intro}}">Disclaimer</button>
    <button mat-button mat-dialog-close="{{types.Credits}}">Full Credits</button>

    <div class="spacer"></div>

    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>