.mat-mdc-dialog-content {
    padding-top: 20px !important;
}

.contributors {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: stretch;

    margin-bottom: 1.5rem;

    img {
        max-width: 100%;
        height: auto;
    }
}

.credit-button-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.dialog-actions {
    background-color: var(--favorite-accent-color, purple);

    button {
        color: white;

        &:last-of-type {
            font-size: 120%;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }
}

@media (max-width: 600px) {
    .contributors {
        grid-template-columns: repeat(2, 1fr);
    }
}
