<div style="display: none; text-align: center; min-height: initial;">
    <p>Put on an entire outfit at once!</p>
</div>

<div class="outfit-list">

    @if(isWebPEnabled()) {
    <button (click)="onChange(i)" *ngFor="let outfit of outfitSignal(); let i = index">
        <picture>
            <source [srcset]="getOutfitImage(i, 'webp')" type="image/webp">
            <source [srcset]="getOutfitImage(i, 'png')" type="image/jpeg">
            <img [src]="getOutfitImage(i, 'png')" [alt]="outfit.name ? outfit.name : outfit.uid" />
        </picture>

        <span>{{ outfit.name ? outfit.name : outfit.uid }}</span>
    </button>
    } @else {
    <button (click)="onChange(i)" *ngFor="let outfit of outfitSignal(); let i = index">
        <img [src]="getOutfitImage(i, 'png')" [alt]="outfit.name ? outfit.name : outfit.uid" />

        <span>{{ outfit.name ? outfit.name : outfit.uid }}</span>
    </button>
    }

</div>