<img mat-dialog-title src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />

<mat-dialog-content>
    <p>Bettelion Food Truck hereby grants permission for the usage of their game Build-A-Bettel in the creation of
        recorded
        or streaming content, and for the monetization of that content through advertising, donations, or other means.
    </p>

    <p><strong>Build-A-Bettel is a stream-safe game!</strong></p>

    <p>Please do not use this game for purposes that conflict with COVER Corp. Derivative Works Guidelines. Thank you!
    </p>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="{{types.Info}}">Information</button>
    <button mat-button mat-dialog-close="{{types.Credits}}">Full Credits</button>

    <div class="spacer"></div>

    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Confirm</button>
</mat-dialog-actions>