<div #colormenu class="color-menu" (wheel)="onScroll($event)">
    @if(activePart() !== null && ( !activePart()?.colorLinkedTo || activePart()?.colorLinkedTo!.length <= 0 )) { <button
        (click)="selectColor()"
        [class.selected]="itemColors() && (!itemColors()[activePartIndex()] || itemColors()[activePartIndex()].length <= 0 )">
        <mat-icon>deselect</mat-icon>
        </button>

        <button @enterExitTrigger *ngFor="let color of activePart()!.colors" class="color-button"
            [style]="`background-color: #${color.hex}`" [title]="color.name"
            [class.selected]="itemColors() && itemColors()[activePartIndex()] === color.hex"
            (click)="selectColor(color)"></button>
        }
</div>