<div #colormenu class="color-menu" (wheel)="onScroll($event)">
    <button (click)="selectColor()"
        [class.selected]="itemColors() && (!itemColors()[activePartIndex()] || itemColors()[activePartIndex()].length <= 0 )">
        <mat-icon>deselect</mat-icon>
    </button>

    @if(activePart() !== null && ( !activePart()?.colorLinkedTo || activePart()?.colorLinkedTo!.length <= 0 )) { <button
        @enterExitTrigger *ngFor="let color of activePart()!.colors" class="color-button"
        [style]="`background-color: #${color.hex}`" [title]="color.name" [class.selected]="isColorSelected(color)"
        (click)="selectColor(color)">
        </button>
        }
</div>