:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 36px;
        width: 36px;

        padding: 0;
        margin: 0;

        border: 3px solid transparent;
        border-radius: 3px;

        background-color: #ffffff;
        color: #000000;

        cursor: pointer;

        &.selected {
            border-color: var(--select-color, #ff0000);
        }

        &:hover:not(.selected) {
            filter: brightness(85%);
        }
    }
}

/* Portrait layout changes */
@media (orientation: portrait) {
    :host {
        flex-direction: column;
        margin-top: 3px;
    }
}
