<div #colormenu class="color-menu" (wheel)="onScroll($event)">
    @if(activePart() !== null) {

    <button (click)="selectColor('')"
        [class.selected]="itemColors() && (!itemColors()[activePartIndex()] || itemColors()[activePartIndex()].length <= 0 )">
        <mat-icon>deselect</mat-icon>
    </button>

    <button @enterExitTrigger *ngFor="let color of activePart()!.colors" class="color-button"
        [style]="`background-color: #${color.substring(0, 6)}`" [title]="`Hexadecimal color code: #${color}`"
        [class.selected]="itemColors() && itemColors()[activePartIndex()] === color"
        (click)="selectColor(color)"></button>

    }
</div>