:host {
    display: block;
    align-self: flex-start;

    position: relative;
    margin: 0 auto;

    height: 100%;
    max-height: 1500px;
    max-width: calc(100% - 20px);

    border: 3px solid black;
}

.container {
    position: relative;
    height: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--image-background-color, hsla(0, 0%, 93.3%, 0.5));
    background-position: center;
    background-repeat: no-repeat;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    max-height: 1000px;
    height: 100%;
}

.control_wrapper {
    position: absolute;

    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;

    width: var(--ui-control-size, 50px);
    z-index: 0;

    display: flex;
    flex-direction: column;
}

.part_control_wrapper {
    display: flex;
    flex-direction: column;

    margin: 5px 0;
}

.part_control_wrapper .controls {
    width: var(--ui-control-size, 50px);
    height: var(--ui-control-size, 50px);

    margin: 2.5px 0;

    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    text-align: center;
}

.control_wrapper > div:first-child,
.part_control_wrapper .controls:first-child {
    margin-top: 0;
}

.control_wrapper > div:last-child,
.part_control_wrapper .controls:last-child {
    margin-bottom: 0;
}

.part_control_wrapper .items {
    background-color: var(--item-toggle-color, #ffffff);
    background-image: var(--item-toggle-img, "none");
}

.part_control_wrapper .palette {
    background-color: var(--palette-toggle-color, #ffffff);
    background-image: var(--palette-toggle-img, "none");
}

.part_control_wrapper .moves {
    background-color: var(--move-toggle-color, #ffffff);
    background-image: var(--move-toggle-img, "none");
}

.item_selection_wrapper {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;

    height: 100%;
    min-width: 275px;
    max-width: 375px;
}

.item_selection_wrapper li {
    border: 3px solid transparent;
    border-radius: 3px;
}

.item_selection_wrapper li.selected {
    border-color: var(--select-color, #ff0000);
}

.component_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
}

.control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.control_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #cccccc);
    background-image: var(--control-panel-png, "none");
    background-repeat: no-repeat;
}

.feature_buttons,
.feature_buttons > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature_buttons {
    margin: 5px 0;
    flex-wrap: wrap;
}

.feature_buttons {
    button,
    a {
        cursor: pointer;

        text-decoration: none;

        border: 1px solid black;
        border-radius: 3px;

        padding: 4px 8px;
        margin: 5px 2px;

        background-color: var(--random-purple-color, purple);
        color: #ffffff;

        &.save {
            background-color: var(--save-button-color, green);
        }

        &:hover {
            filter: brightness(1.2);
        }
    }
}

/* Portrait layout changes */
@media (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .canvas_wrapper {
        max-height: 50vh;
    }

    .control_wrapper {
        bottom: 5px;
        right: 5px;
        top: auto;
        left: auto;

        width: calc(var(--ui-control-size, 50px) * 0.75);
    }

    .control_wrapper .part_control_wrapper .controls {
        width: calc(var(--ui-control-size, 50px) * 0.75);
        height: calc(var(--ui-control-size, 50px) * 0.75);
    }

    .item_selection_wrapper {
        width: 100%;
        max-width: 100%;
    }
}
