<!-- Game container -->
<div class="container">
  <div class="canvas_wrapper">
    <app-canvas #canvas />

    <app-loading />

    <div class="control_wrapper">
      <div class="part_control_wrapper"><!-- TODO -->
        <span (click)="showItems()" class="controls items" [class.hidden]="!potentialItems()"></span>
        <span (click)="showPalette()" class="controls palette" [class.hidden]="!potentialPalette()"></span>
        <span (click)="showMovement()" class="controls moves" [class.hidden]="!potentialMovement()"></span>
      </div>

      <app-zoom [canvas]="canvas" />
    </div>
  </div>

  <div class="interface_wrapper">
    <div class="feature_buttons">
      <!-- TODO Move save and credits elsewhere -->
      <div>
        <button (click)="reset()" [class.hidden]="outfitsVisible">Reset</button>
        <button (click)="showOutfits()" [class.hidden]="outfitsVisible">Outfits</button>
        <button (click)="generatePrompt()" [class.hidden]="outfitsVisible">Random Prompt</button>

        <button (click)="showComponents()" [class.hidden]="!outfitsVisible">Components</button>
      </div>
    </div>
    <div class="feature_buttons">
      <button (click)="showCredits()">Credits</button>

      <a #save_button class="save" [href]="imageDataString()" download="gb.png">
        Save
      </a>
    </div>

    <div class="features">

      <app-prompt />

      <app-outfits [class.hidden]="!outfitsVisible" />

      <div class="component_wrapper" [class.hidden]="outfitsVisible">

        <app-parts />

        <div class="control_panel_wrapper">
          <div class="control_panel">
            <app-items [class.hidden]="!itemsVisible" />
            <app-palette [class.hidden]="!paletteVisible" /><!-- TODO -->
            <app-movement [class.hidden]="!movementVisible" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>