<!-- Game container -->
<div class="container">
  <div class="canvas_wrapper">
    <app-canvas #canvas />

    <app-loading />

    <div class="control_wrapper">
      <div class="part_control_wrapper"><!-- TODO -->
        <span (click)="showItems()" class="controls items" [class.hidden]="!potentialItems()"></span>
        <span (click)="showPalette()" class="controls palette" [class.hidden]="!potentialPalette()"></span>
        <span (click)="showMovement()" class="controls moves" [class.hidden]="!potentialMovement()"></span>
      </div>

      <app-zoom [canvas]="canvas" />
    </div>
  </div>

  <div class="item_selection_wrapper">
    <div class="feature_buttons">
      <div>
        <button (click)="reset()" [class.hidden]="outfitsVisible">Reset</button>
        <button (click)="showComponents()" [class.hidden]="!outfitsVisible">Components</button>
        <button (click)="showOutfits()" [class.hidden]="outfitsVisible">Outfits</button>
        <button (click)="showCredits()">Credits</button>
      </div>

      <a #save_button class="save" [href]="imageDataString()" download="gb.png">
        Save
      </a>
    </div>

    <app-outfits [class.hidden]="!outfitsVisible" />

    <div id="component_wrapper" class="component_wrapper" [class.hidden]="outfitsVisible">

      <app-parts (randomizeOutfit)="randomize()" />

      <div class="control_panel_wrapper">
        <div class="control_panel">

          <app-items [class.hidden]="!itemsVisible" />
          <app-palette [class.hidden]="!paletteVisible" /><!-- TODO -->
          <app-movement [class.hidden]="!movementVisible" /><!-- TODO -->
        </div>
      </div>

    </div>
  </div>
</div>