:host {
    display: block;
    align-self: flex-start;

    position: relative;
    margin: 0 auto;

    height: 100%;
    max-height: 1500px;
    max-width: calc(100% - 20px);

    border: 3px solid black;
}

.container {
    position: relative;
    height: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--image-background-color, hsla(0, 0%, 93.3%, 0.5));
    background-position: center;
    background-repeat: no-repeat;
}

.canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1000px;
    max-height: 1000px;
    height: 100%;
}

.control_wrapper {
    position: absolute;

    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;

    z-index: 10;

    display: flex;
    flex-direction: column;

    place-items: center;

    a,
    button {
        background-color: var(--random-purple-color, purple);
        color: #ffffff;

        border: 1px solid black;
        border-radius: 3px;

        margin: 2.5px 0;

        &.save {
            background-color: var(--save-button-color, green);
        }

        &.animated {
            opacity: 0;
            display: none;

            transition:
                background-color ease 0.4s,
                opacity 0.3s ease,
                display 0.3s ease allow-discrete;

            &.show {
                display: inline-flex;
                opacity: 1;

                @starting-style {
                    opacity: 0;
                }
            }

            &.active {
                background-color: var(--active-button-color, #00ff00);
                color: var(--active-button-text-color, #000000);
            }
        }
    }
}

.interface_wrapper {
    position: relative;

    display: flex;
    flex: 1;
    flex-direction: column;

    border: 0px solid black;
    border-left-width: 3px;

    height: 100%;
    min-width: 275px;
    max-width: 375px;

    li {
        border: 3px solid transparent;
        border-radius: 3px;

        &.selected {
            border-color: var(--select-color, #ff0000);
        }
    }
}

.control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.control_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #cccccc);
    background-image: var(--control-panel-png, "none");
    background-repeat: no-repeat;
}

.feature_buttons {
    margin: 5px 0;
    flex-wrap: wrap;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-bottom: 3px;

    button,
    a {
        cursor: pointer;

        background-color: var(--random-purple-color, purple);
        color: #ffffff;

        border: 1px solid black;
        border-radius: 3px;

        &:not(.mdc-fab) {
            height: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }

        &.save {
            background-color: var(--save-button-color, green);
        }
    }
}

.features,
.component_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
}

/* Portrait layout changes */
@media (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .canvas_wrapper {
        max-height: 50vh;
    }

    .control_wrapper {
        bottom: 5px;
        right: 5px;
        top: auto;
        left: auto;

        width: calc(var(--ui-control-size, 50px) * 0.75);
    }

    .interface_wrapper {
        width: 100%;
        max-width: 100%;

        border-left-width: 0px;
    }
}
