<div class="app_wrapper">

  <!-- Game container -->
  <div class="container">
    <div class="canvas_wrapper">
      <app-canvas />

      <a class="loading" id="loading">
        Loading...
      </a>

      <div class="control_wrapper">
        <div class="part_control_wrapper">
          <span id="items_button" class="controls items"></span>
          <span id="palette_button" class="controls palette"></span>
          <span id="move_button" class="controls moves"></span>
        </div>

        <div class="zoom_control_wrapper">
          <span id="zoom_in_button" class="controls zoom_in"></span>
          <span id="zoom_out_button" class="controls zoom_out"></span>
          <span id="zoom_reset_button" class="controls zoom_reset"></span>
        </div>
      </div>
    </div>

    <div class="item_selection_wrapper">
      <div class="feature_buttons">
        <div>
          <button id="reset_button">Reset</button>
          <button id="outfit_button">Outfits</button>
          <button id="component_button" style="display: none;">Components</button>
          <button id="info_button">Credits</button>
        </div>

        <button id="save_button" href="#" download="gb.png">
          Save
        </button>
      </div>

      <app-outfits />

      <div id="component_wrapper" class="component_wrapper">

        <app-parts />

        <div class="control_panel_wrapper">
          <div class="control_panel">

            <app-items />

            <app-palette />

            <app-movement />
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Project Credits and other information -->
  <div id="info_modal" class="info_modal">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Build-A-Bettel</h1>
        <span id="info_modal_close" class="close">&times;</span>
      </div>
      <div class="modal-body">

        <img src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" class="modal-image" loading="lazy" />

        <p>
          Build-A-Bettel is an interactive fanart experience by the Bettelion Food Truck. You can
          customize Bettel with various outfits and accessories.
        </p>

        <p>
          This project is an <a href="https://github.com/Bettelion-Food-Truck/Build-A-Bettel" target="_blank">open
            source</a> creation by the <a href="https://bettelion-food-truck.github.io/" target="_blank">Bettelion Food
            Truck</a>. It
          is built upon the open source character creator framework <a href="https://github.com/ksadov/hackrew"
            target="_blank">hackrew</a>.
        </p>

        <div id="cook-container"></div>
      </div>
    </div>
  </div>

</div>