.mat-mdc-dialog-content {
    padding-top: 20px !important;
}

.contributors {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: stretch;

    margin-bottom: 1.5rem;

    .contributor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.flex-end-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;
}

.dialog-actions {
    background-color: var(--favorite-accent-color, purple);

    button {
        color: white;
    }
}

@media (max-width: 500px) {
    .contributors {
        grid-template-columns: repeat(2, 1fr);
    }
}
