<img mat-dialog-title src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />

<mat-dialog-content>
    <p>Thank everyone for all their hard work.</p>

    <ng-container class="section-wrapper" *ngFor="let section of contributors">
        <h2>{{section.name}}</h2>
        <div>

            <div *ngFor="let contributor of section.contributors">
                <h3>
                    @if (contributor.social) {
                    <a href="{{contributor.social}}" target="_blank">
                        {{contributor.name}} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    {{contributor.name}}
                    }
                </h3>

                <ul>
                    <li *ngFor="let credit of contributor.credits" [innerHTML]="credit"></li>
                </ul>
            </div>

        </div>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="info">Information</button>
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>