:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;

    place-items: center;

    margin: 5px 0;
}

@media (hover: none) {
    :host {
        display: none;
    }
}

/* Portrait layout changes */
@media (orientation: portrait) {
    button {
        transform: scale(0.8);
    }
}
