<picture mat-dialog-title>
    <source srcset="./images/build-a-bettel.webp" type="image/webp">
    <source srcset="./images/build-a-bettel.png" type="image/jpeg">
    <img src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />
</picture>

<mat-dialog-content>

    <p>
        <span class="no-break">Build-A-Bettel</span> is an <a
            href="https://github.com/Bettelion-Food-Truck/Build-A-Bettel" target="_blank"><strong>open-source
                creation</strong></a> by the <a href="https://bettelion-food-truck.github.io/"
            target="_blank"><strong>Bettelion Food Truck</strong></a> based on the open-source character creator
        framework <a href="https://github.com/ksadov/hackrew" target="_blank">hackrew</a>.
    </p>

    <p>
        A huge thank you to each and every one of the fifty contributors who poured their time and talents into bringing
        Build-A-Bettel into existence. Their dedication make it all possible.
    </p>

    <p>
        The four month long journey of creating this game has been an incredible one, fueled by passion and shared
        effort. We hope you enjoy playing it as much as we enjoyed making it!
    </p>

    <ng-container *ngFor="let section of contributors">
        <h2>{{section.name}}</h2>
        <ng-container *ngFor="let contributor of section.contributors|sortContributors">
            <div class="contributor" *ngIf="contributor.credits && contributor.credits.length > 0">
                <h3>
                    @if (contributor.social) {
                    <a href="{{contributor.social}}" target="_blank">
                        {{contributor.name}} <mat-icon>open_in_new</mat-icon>
                    </a>
                    } @else {
                    {{contributor.name}}
                    }
                </h3>

                <ul>
                    <li *ngFor="let credit of contributor.credits" [innerHTML]="credit"></li>
                </ul>
            </div>
        </ng-container>
    </ng-container>

    <h2>Special Thanks</h2>

    <p>The following fan-created outfits were recreated for Build-A-Bettel with permission from their creators:</p>

    <ul class="special-thanks">
        <li class="contributor">
            <a href="https://x.com/mokochuls" target="_blank">Chuuul <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Twobert</li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/hioko_chi" target="_blank">Hioko_Chi <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Battel</li>
                <li>Deerttel</li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/kagemeomeo" target="_blank">Khasnh <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Betsy-Chan</li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/magnidezmond" target="_blank">Magni Dezmond <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>
                    Betsy Grayson<br />
                    Ok, this one wasn't <i>actually</i> used with permission for obvious reasons, but we're certain he
                    wouldn't mind!
                </li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/stressed_nerd" target="_blank">Myobi <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Ghost Bride</li>
                <li>Pumpkin King</li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/SerenDark_" target="_blank">SerenDark <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Maid</li>
            </ul>
        </li>
        <li class="contributor">
            <a href="https://x.com/zz_mays" target="_blank">ZZMays <mat-icon>open_in_new</mat-icon></a>
            <ul>
                <li>Bettelgoose kigurumi</li>
            </ul>
        </li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close="{{types.Intro}}">Disclaimer</button>
    <button mat-button mat-dialog-close="{{types.Info}}">Information</button>

    <div class="spacer"></div>

    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>