.mat-mdc-dialog-content {
    padding-top: 20px !important;
}

.mat-mdc-dialog-content {
    position: relative;
    padding-bottom: 150px;

    h2 {
        position: sticky;
        top: -20px;

        padding: 10px 0;

        z-index: 15;

        background-color: var(--mdc-dialog-container-color, var(--mat-sys-surface, white));
    }

    h2:not(:first-of-type) {
        margin-top: 35px;
    }
}

.contributor {
    h3 {
        margin-bottom: 0;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            color: inherit;
            text-decoration: none;

            .mat-icon {
                transform: scale(0.7);
            }
        }
    }

    ul {
        margin-top: 0;
    }
}

.dialog-actions {
    background-color: var(--favorite-accent-color, purple);

    button {
        color: white;
    }
}
