@use "@angular/material" as mat;
@use "material-icons/iconfont/material-icons.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: var(--favorite-accent-color, purple) transparent;
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
    color-scheme: light;

    @include mat.theme(
        (
            color: (
                theme-type: light
            ),
            typography: (
                plain-family: Roboto,
                brand-family: Open Sans,
                bold-weight: 900,
                medium-weight: 500,
                regular-weight: 300
            ),
            density: 0
        )
    );

    &.cdk-global-scrollblock {
        overflow-y: hidden !important;
    }
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    font-family: var(--mat-sys-body-medium-font);
    line-height: var(--mat-sys-body-medium-line-height);
    font-size: var(--mat-sys-body-medium-size);
    letter-spacing: var(--mat-sys-body-medium-tracking);
    font-weight: var(--mat-sys-body-medium-weight);

    .mat-mdc-dialog-container {
        max-height: 100vh;
    }
}

@supports (max-height: 100dvh) {
    body {
        height: 100dvh;

        .mat-mdc-dialog-container {
            max-height: 100dvh;
        }
    }
}

/* Global classes with style overrides. Unfortunately they use !important because of specificity. */
.hidden {
    display: none !important;
}

.no-break {
    text-wrap: nowrap;
}

.heavy {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.smaller {
    font-size: 90%;
}

.bi {
    font-size: 80%;
}

@media screen and (prefers-reduced-motion: reduce) {
    .animated {
        animation: none !important;
    }
}

/* Base Variables */
:root {
    /* the color of the background of the loading sign*/
    --loading-bg-color: #ffffff;

    /* the color of the border around selected part and icon buttons */
    --select-color: #660073;

    /* the color/image filepath of the background of the image display area */
    --image-background-color: hsla(0, 0%, 93.3%, 0.5);

    /* Control interface background */
    --control-panel-background-color: #cccccc;
    --control-panel-background: linear-gradient(45deg, #bbbbbb 0%, #dddddd 35%, #dddddd 65%, #bbbbbb 100%);

    /* Parts menu button colors */
    --parts-menu-button-color: #eeeeee;
    --parts-menu-button-hover-color: #e6e6fa;

    /* the color of the item buttons */
    --item-button-color: #ffffff;
    --item-button-hover-color: #e6e6fa;

    /* active button vars */
    --active-button-text-color: #ffffff;
    --active-button-background-color: #00aa00;
    --active-button-background: radial-gradient(circle, #00aa00 45%, #00ee00 100%);

    /* save button vars */
    --save-button-color: #006400;

    /* Favorite color to use as an accent */
    --favorite-accent-color: #660073;

    /* control sizes */
    --ui-control-size: 50px;
    --part-control-size: 60px;

    /* Material Overrides */
    --mat-dialog-container-max-width: 650px;

    @include mat.dialog-overrides(
        (
            container-color: #e0e0e0,
            headline-padding: 0
        )
    );

    @include mat.progress-spinner-overrides(
        (
            active-indicator-color: var(--favorite-accent-color)
        )
    );
}
