<img mat-dialog-title src="./images/build-a-bettel.png" alt="Build-A-Bettel logo image" />

<mat-dialog-content>
  <p>
    Build-A-Bettel is an interactive fanart experience by the Bettelion Food Truck. You can
    customize Bettel with various outfits and accessories.
  </p>

  <p>
    This project is an <a href="https://github.com/Bettelion-Food-Truck/Build-A-Bettel" target="_blank">open
      source</a> creation by the <a href="https://bettelion-food-truck.github.io/" target="_blank">Bettelion Food
      Truck</a>. It is built upon the open source character creator framework <a
      href="https://github.com/ksadov/hackrew" target="_blank">hackrew</a>.
  </p>

  <div class="photo-wall">
    <h2>Employee Photos</h2>
    <div class="contributors">
      <img src="{{contributor.image}}" alt="{{contributor.name}}"
        *ngFor="let contributor of fullList|sortContributors" />
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-stroked-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>